<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>{{ page.title }}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="https://parse.com/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://parse.com/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://parse.com/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://parse.com/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://parse.com/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://parse.com/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://parse.com/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://parse.com/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://parse.com/apple-touch-icon-180x180.png">
  <meta name="apple-mobile-web-app-title" content="Parse">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#5298fc">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="application-name" content="Parse">

  <meta name="theme-color" content="#5298fc">

      <!-- CSS -->
      <!-- build:css -->
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
      <link href="{{ site.baseurl }}/css/docs.css" rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" rel="stylesheet" />
      <!-- endbuild -->

      <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
      <![endif]-->

      <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
  <![endif]-->
  <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" />
  <![endif]-->
  <!--[if lt IE 10]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie89.css" />
  <![endif]-->
  <script>if(Function('/*@cc_on return document.documentMode===10@*/')()){document.documentElement.className+=' ie10';}</script>

  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="KxDoKysxiXDIRV8VXwDYlQStDGzjbGZ24y6ZgQLYAsE=">
  <meta name="description" content="Focus on creating unique &amp; engaging apps on any platform. We take care of everything else your app needs, from the core of your app to analytics and push notifications.">
  <meta name="keywords" content="backend, mobile, development, server, code">
  <meta property="fb:app_id" content="361736430535656">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Parse">
  <meta property="og:image" content="https://docs.parseplatform.org/assets/images/social.jpg">
  <meta property="og:description" content="Focus on creating unique &amp; engaging apps on any platform. We take care of everything else your app needs, from the core of your app to analytics and push notifications.">
  <meta property="og:url" content="{{ page.url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
