<div class="header">
  <div class="container">
    <div class="heroText">
      <h1>Open Source Hub</h1>
      <h2>
          <span class="subheadSection "><img src="/img/stars.svg" alt="" class="icon"><span class="starCount"></span></span>
          <span class="subheadSection"><img src="/img/forks.svg" alt="" class="icon"><span class="forkCount"></span></span>
          <span class="subheadSection"><img src="/img/repos.svg" alt="" class="icon"><span class="repoCount"></span></span>
      </h2>
    </div>
  </div>
  <div class="headerIllustration">
    <div class="skyline" style="background: url('/img/header/skyline.svg') repeat-x center bottom; background-size: auto 100%; width: 100%; position: absolute;
     bottom: 0px; left: 0px;"></div>
    <div class="illustrationForeground">
      <!--right animations-->
      <img src="/img/header/rightBackground.svg" alt="" class="headerRight">
      <div class="headerRight headerRightContainer">
          <div class="phone2Screen">
              <div class="phoneCircle"></div>
          </div>
      </div>
      <img src="/img/header/rightBackground2.svg" alt="" class="headerRight">
      <div class="headerRight headerRightContainer">
          <div class="phone3Screen">
              <div class="phoneCircle"></div>
          </div>
          <svg version="1.1" class="svgInner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-111 -584 976 1280" style="enable-background:new -111 -584 976 1280;" xml:space="preserve">
              <svg class="push2" y="-125%">
                  <path class="st7" d="M228.8,451.8c-19.1,0-34.6-15.5-34.6-34.6c0-3.4,0.5-6.8,1.5-9.9H162c-10.4,0-18.8,8.4-18.8,18.8v55.1
                          c0,10.4,8.4,18.8,18.8,18.8h55c10.4,0,18.8-8.4,18.8-18.8V451C233.5,451.5,231.2,451.8,228.8,451.8z"/>
                  <path class="st7" d="M228.8,390.9c-14.5,0-26.3,11.8-26.3,26.3s11.8,26.3,26.3,26.3s26.3-11.8,26.3-26.3
                      C255.1,402.7,243.3,390.9,228.8,390.9z M228.8,431.2c-7.7,0-14-6.3-14-14s6.3-14,14-14s14,6.3,14,14S236.5,431.2,228.8,431.2z"/>
              </svg>
          </svg>
      </div>
      <div class="headerRight headerRightContainer">
          <svg version="1.1" class="svgInner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-111 -584 976 1280" style="enable-background:new -111 -584 976 1280;" xml:space="preserve">
              <svg class="middleLine2" y="-125%">
                  <line class="st9" x1="176.9" y1="410.5" x2="176.9" y2="390.5"/>
                  <line class="st10" x1="176.9" y1="343.2" x2="176.9" y2="-1300"/>
                  <line class="st10" x1="176.9" y1="351.4" x2="176.9" y2="392"/>
                  <path class="st1" d="M192.2,344.9l-10.9,18.8c-2,3.4-6.9,3.4-8.9,0l-10.9-18.8c-2-3.4,0.5-7.7,4.4-7.7h21.8
                      C191.8,337.2,194.2,341.5,192.2,344.9z"/>
                  <path class="st1" d="M186.1,383.8h-18.3c-2.2,0-4,1.8-4,4v8.4c0,2.2,1.8,4,4,4h18.3c2.2,0,4-1.8,4-4v-8.4
                      C190.1,385.6,188.3,383.8,186.1,383.8z"/>
                  <circle class="st11" cx="176.9" cy="360" r="2.8"/>
                  <circle class="st11" cx="168.7" cy="343.5" r="2.8"/>
                  <circle class="st11" cx="185.2" cy="343.5" r="2.8"/>
              </svg>
          </svg>
      </div>
      <div class="headerRight headerRightContainer hoistParts" style="-webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%);">
          <svg version="1.1" class="svgInner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-111 -584 976 1280" style="enable-background:new -111 -584 976 1280;" xml:space="preserve">
              <svg y="0px" class="hoist">
                  <g class="analytics">
                      <path class="st6" d="M367.4,427.6c-30.9,0-56,25.1-56,56s25.1,56,56,56s56-25.1,56-56C423.4,452.8,398.3,427.6,367.4,427.6z
                           M367.4,436.7c25.3,0,45.9,20.1,46.9,45.1h-10.7l-18.2-22.5l-26.2,31.2L340,469.6l-10.8,10.8h-8.7
                          C322.3,456,342.7,436.7,367.4,436.7z M367.4,530.6c-24.5,0-44.7-18.9-46.8-43h11.6l7.5-7.5l19.6,21.5l25.8-30.8l14.9,18.4h13.9
                          C411.3,512.4,391.5,530.6,367.4,530.6z"/>
                  </g>
                  <defs>
                      <clipPath id="hoistMask">
                          <rect x="320.6" y="24.6" width="93.7" height="412.1"/>
                      </clipPath>
                  </defs>
                  <g class="hoistLine st12" clip-path="url(#hoistMask)">
                      <svg class="hoistLineInner" y="0%">
                          <g>
                              <line class="st13" x1="366.8" y1="24.6" x2="366.8" y2="427.3"/>
                              <circle class="st2" cx="367.1" cy="428.3" r="6"/>
                          </g>
                      </svg>
                  </g>
              </svg>
          </svg>
      </div>
      <img src="/img/header/hoist.svg" alt="" class="headerRight hoist" style="-webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%);">
      <div class="headerRight headerRightContainer wheelsContainer" style="-webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%);">
          <img src="/img/header/hoistWheel.svg" alt="" class="hoistWheel">
          <img src="/img/header/hoistWheel.svg" alt="" class="hoistWheel">
          <img src="/img/header/hoistWheel.svg" alt="" class="hoistWheel">
          <img src="/img/header/hoistWheel.svg" alt="" class="hoistWheel">
          <img src="/img/header/hoistWheel.svg" alt="" class="hoistWheel">
      </div>

      <!-- left side animations -->
      <img src="/img/header/craneBackground.svg" alt="" class="headerLeft">
      <div class="headerLeft headerLeftContainer">
        <div class="phone1ScreenContainer">
          <div class="appSquare one"></div>
          <div class="appSquare two"></div>
          <div class="appSquare three"></div>
          <div class="appRect one"></div>
          <div class="appRect two"></div>
          <div class="appRect three"></div>
        </div>
        <img src="/img/header/video.svg" alt="" class="craneVideo">
        <div class="craneLineContainer">
          <img src="/img/header/craneLine.svg" class="craneLine" alt="">
        </div>
        <img src="/img/header/cranePivot.svg" alt="" class="cranePivot">
      </div>

      <!--center animations-->
      <img src="/img/header/truckBackground.svg" alt="" class="headerCenter">
      <div class="headerCenter headerCenterContainer">
        <img src="/img/header/pushOne.svg" alt="" class="pushOne">
        <img src="/img/header/middleLine.svg" alt="" class="middleLineOne">
      </div>
    </div>
  </div>
</div>
