<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102564547-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-102564547-3');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>{{ page.title }}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseUrl }}/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ site.baseUrl }}/img/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.baseUrl }}/img/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="{{ site.baseUrl }}/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.baseUrl }}/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseUrl }}/img/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="apple-mobile-web-app-title" content="Parse">
  <meta name="msapplication-TileColor" content="#5298fc">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="application-name" content="Parse">

  <meta name="theme-color" content="#5298fc">
  <script>if(Function('/*@cc_on return document.documentMode===10@*/')()){document.documentElement.className+=' ie10';}</script>

  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="KxDoKysxiXDIRV8VXwDYlQStDGzjbGZ24y6ZgQLYAsE=">
  <meta name="description" content="Focus on creating unique &amp; engaging apps on any platform. We take care of everything else your app needs, from the core of your app to analytics and push notifications.">
  <meta name="keywords" content="backend, mobile, development, server, code">
  <meta property="fb:app_id" content="361736430535656">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Parse">
  <meta property="og:image" content="https://docs.parseplatform.org/assets/images/social.jpg">
  <meta property="og:description" content="Focus on creating unique &amp; engaging apps on any platform. We take care of everything else your app needs, from the core of your app to analytics and push notifications.">
  <meta property="og:url" content="{{ page.url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <![endif]-->

  <!-- CSS -->
  <!-- build:css -->
  <link rel="preconnect" href="{{ site.baseUrl }}">
  <link href="{{ site.baseUrl }}/css/docs.css" rel="stylesheet" type="text/css"/>
  {% if page.layout == "guide" %}
  <link href="{{ site.baseUrl }}/css/guide.css" rel="stylesheet" type="text/css"/>
  <link href="{{ site.baseUrl }}/css/lib/vendor/highlight.css" rel="stylesheet" type="text/css"/>
  {% endif %}
  <link href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" rel="stylesheet" />
  <!-- endbuild -->
  <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
  <![endif]-->
  <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" />
  <![endif]-->
  <!--[if lt IE 10]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie89.css" />
  <![endif]-->
</head>
