<aside class="site__menu">
    <nav class="site__menu__nav">
        <ul>
            <li><a href="{{ site.baseUrl }}/">Docs</a></li>
            <li><a href="http://blog.parseplatform.org/">Blog</a></li>
        </ul>
    </nav>

    <div class="site__menu__socials">
        <h4 class="h4">Stay Connected</h4>

        <ul>
            <li>
                <a href="https://www.facebook.com/parseit">
                    <svg class="icon icon-fb"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#fb"></use></svg>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/parseit">
                    <svg class="icon icon-twitter"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#twitter"></use></svg>
                </a>
            </li>
            <li>
                <a href="http://parseplatform.org">
                    <svg class="icon icon-github"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#github"></use></svg>
                </a>
            </li>
            <li>
                <a href="http://stackoverflow.com/questions/tagged/parse.com">
                    <svg class="icon icon-stack-overflow"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#stack-overflow"></use></svg>
                </a>
            </li>
        </ul>

        <p class="site__menu__build-together">Let&rsquo;s build together.</p>
    </div>
</aside>
