---
layout: default
---

<body class="pure p_docs p_docs_show_guide user_logged_in" style="position: relative;">
  <div class="site__wrapper">
    <div class="site__content">

      {% include menu.html %}
      <!-- old menu was here, blocks/menu -->
      <div class="content__wrapper">
        {% include header.html %}
      <!-- old header would go here, blocks/header -->

        <aside class="hero hero--docs">
          <div class="grid-container">
            <div class="col-md--6 col-lg--9">
                <p class="h1 h1--white" data-ignore-from-select>
                    <span>{{ page.platform_pretty }} <em>Guide</em></span>

                    <a href="/Docs" class="btn btn--back">
                        <span class="hide-mobile">Browse all platforms</span>
                        <span class="show-mobile">Browse</span>
                    </a>

                    <svg class="icon icon-{{ page.platform }}"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#{{ page.platform }}"></use></svg>
                </p>
            </div>
          </div>
        </aside><!-- .hero -->

        <div class="guide" data-nav-waypoint>

          <div class="grid-container">
            <div class="col-md--6 col-lg--9">

              <div class="guide_content">
                {{ content }}
              </div>
          		<!-- footer goes here -->
            </div>
          </div><!-- end content grid col -->
        </div><!-- end .guide > .grid-container -->
      </div><!-- /.content__wrapper -->
    </div><!-- /.site__content -->
  </div><!-- /.site__wrapper -->
</body>
